body {
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;

}

.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    margin:25px 0;
    height:30px;
    align-items: center;
    font-size:12px;
    color:#1d1f2e;
        
}
nav ul .active{
    opacity:1;
}
.cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:4px 0;
    margin:0;
    text-decoration:none;
    color:#1d1f2e;
    font-weight:700;
    line-height:18px;
    opacity: 0.7;
}
.cart:hover{
    opacity:1;
}
.cart span{
    display:block;
    margin-left:8px;
    border-radius: 50%;
    background-color:#1d1f2e;
    color:white;
    padding:6px 6px;
    font-size:11px;
    font-family:"Karla",sans-serif;
    
}
.cart p{
    text-decoration: none;
    text-transform:uppercase;
    
    
}

nav img,
nav li {
    margin-right: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav li a {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 18px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #1d1f2e;
    opacity:0.7;
}
nav li a:hover{
    opacity:1;
}


[src="img/logo.png"] {
    width: 112px;
    height: 24px;
}



[class*="-title"] {
    text-transform: uppercase;
    color: #1d1f2e;
    text-align: center;
}